body {
    margin: 0;
}

.top-bar {
    position: absolute;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid black;
    background-color: #ccc;
    width: 100%;
}

.top-bar * {
    margin: 5px 10px;
}

#paint {
    display: block;
}